@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #000;
    color           : white;
    min-height      : 100vh;
    user-select     : none;
    font-family     : "Cabinet Grotesk", sans-serif;
}